* {
    box-sizing: border-box;
}

@font-face {
    font-family: "jua";
    src: url('font/BMJUA_ttf.ttf');
}

body{
    margin:0;
    font-family: "jua", sans-serif;
}

.logo {
    width: 100%;
    height: 60px;
    background-color: #663399;
    padding-left: 30px;
}

.logo a {
    text-decoration: none;
    color:white;
    font-size: 30px;
    line-height: 60px;
}

.nora {
    width: 100%;
    height: 350px;
    background-image: url('image/Nora.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.line {
    width: 100%;
    height: 320px;
    overflow: auto;

}

.line .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle

}

.line .line-container {
   display: inline-block;
   vertical-align: middle;
   padding :10px;
}

.line h3 {
    margin: 0;
    padding: 30px;
    font-size: 30px;
}

.line ul {
    margin:0;
    list-style: square;
    font-size: 20px;
}

.nora2 {
    width: 100%;
    height: 385px;
    background-image: url('image/Nora2.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: right;
    padding: 20px;
}

.nora2 a {
    text-decoration: none;
    color:white;
    font-size: 30px;
}

.pic1 {
    width: 100%;
    height: 200px;
    background-image: url('image/pic.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 20px;
}

.pic1 a {
    text-decoration: none;
    color:white;
    font-size: 30px;
    vertical-align: bottom;
}

.pic2 {
    width: 100%;
    height: 200px;
    background-image: url('image/pic2.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 20px
}


.pic2 a {
    text-decoration: none;
    color:white;
    font-size: 30px;
}






@media (min-width:768px) {

    .col {
        float: left;
    }
    
    
    .nora {
        width: 100%;
        height: 562px;
    }
    
    .line {
        width: 100%;
        height: 282px;
    }
    
    .nora2 {
        width: 50%;
        height: 500px;
    }
    
    .pic1 {
        width: 50%;
        height: 250px;
    }
    
    .pic2 {
        width: 50%;
        height: 250px;
    }
}

@media (min-width:992px) {

    .col {
        float: left;
    }
    
    
    .nora {
        width: 50%;
        height: 1200px;
    }
    
    .line {
        width: 50%;
        height: 600px;
    }
    
    .nora2 {
        width: 25%;
        height: 600px;
    }
    
    .pic1 {
        width: 25%;
        height: 300px;
    }
    
    .pic2 {
        width: 25%;
        height: 300px;
    }
}